html, body {
}
section.navbar-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    /* background-color: black; */
    background-position: center;
}
div.nav-links {
    display: inline-flex;
}
section.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.api-plants {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
div.species-list {
    text-align: center;
}
