body {
    background-color: rgba(0, 48, 0, 0.5);
    color: rgb(25, 62, 13);
}
section.navbar-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-position: center;
    width:100%;
}

a, li {
    text-decoration: none;
    list-style: none;
    color:antiquewhite;
}

div.nav-links {
    display: inline-flex;
    list-style: none;
}
main {
    display: flex;
    /* justify-items: center;
    align-items: center; */
    gap: 1rem;
}
section.dashboard {
    text-align: center;
}

ul.user-plants-dashboard {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

li {
    background-color: rgba(0, 0, 0, 0.258);
    border-radius: 1rem;
}

strong {
    color: rgb(200, 255, 182);
    
}

div.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
div.species-list {
    text-align: center;
}


div.img-container{
    max-height: 15rem;
    max-width: 15rem;
    border-radius: 1.5rem;
    
}
img {
    width: 15rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 50%;
}
div.plant-details-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap:0.25rem;
    width:15rem;
}
