html, body {
    background-color: rgba(0, 48, 0, 0.5);
    color: rgb(200, 255, 182);
}
section.navbar-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-position: center;
}

a {
    text-decoration: none;
    color: rgb(200, 255, 182);
}

div.nav-links {
    display: inline-flex;
    list-style: none;
}
section.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.api-plants {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
div.species-list {
    text-align: center;
}
div.img-container{
    max-height: 15rem;
    max-width: 15rem;
    overflow: hidden;
    border-radius: 1.5rem;
}
img {
    width: 15rem;
}